.body {
  background-color: #F2E9DE;
}

.container {
  max-width: 800px;
}

.header {
  text-align: center;
  margin: 5px;
  padding: 10px;
  border: 2px dashed black;
}

button {
  width: 100%;
}

.numberinputform {
  margin-top: 10px;
}

.resultspane {
  display: none;
}

.reversebutton {
  display: none;
}